<section>
    <h1>Login Page</h1>

    <div class="error">{{error}}</div>
    <form method="post" action="/auth/login">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
        </div>

         <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </div>

        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</section>