<section>
    <h1>Register Page</h1>
    <form method="post" action="/users/register">

        <div>
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName">
        </div>

        <div>
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName">
        </div>

        <div>

            <label for="location">Location</label>
            <select id="location" name="location"> 
                <option value="TnT">TnT</option>
                <option value="USA">United State Of America</option>
                <option value="Canada">Canada</option>
            </select>

        </div>

        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
        </div>

         <div>
            <label for="password">Password</label>
            <input type="text" id="password" name="password">
        </div>

        <div>
            <button type="submit">Register</button>
        </div>
    </form>
</section>