<section>
    <h1>Users Listing Page</h1>

    {{#each users_data}}
            <div>
                First Name {{this.first_name}} <br>
                Last Name {{this.last_name}} <br>
                Location {{this.location}} <br>
                Username {{this.username}} <br>
            </div>
    {{/each}}
</section>


